body {
  min-height: 100vh;
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

#menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  background-color: blue;
  color: white;
  font-size: 20px;
}

#box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  font-size: 16px;
  flex-wrap: wrap;
}

#input-text-area {
  flex-basis: 100%;
}

.text-area-box {
  flex-grow: 1;
  border: 1px solid black;
  padding: 16px;
  min-width: 256px;
  box-sizing: border-box;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 4px;
}

textarea {
  flex: 1;
  box-sizing: border-box;
  resize: none;
}

.full-screen {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: calc(100% - 30px);
  background-color: whitesmoke;
}
